include LICENSE

include tvb_data/__init__.py

include tvb_data/connectivity/connectivity_76.zip 
include tvb_data/connectivity/paupau.zip 
include tvb_data/connectivity/connectivity_66.zip 
include tvb_data/connectivity/connectivity_68.zip
include tvb_data/connectivity/connectivity_96.zip
include tvb_data/connectivity/connectivity_192.zip
include tvb_data/connectivity/__init__.py

include tvb_data/cff/__init__.py
include tvb_data/cff/connectivities.cff

include tvb_data/dti_pipeline_toronto/output_ConnectionDistanceMatrix.csv
include tvb_data/dti_pipeline_toronto/output_ConnectionCapacityMatrix.csv

include tvb_data/gifti/__init__.py
include tvb_data/gifti/sample.cortex.gii

include tvb_data/projectionMatrix/projection_eeg_62_surface_16k.mat 
include tvb_data/projectionMatrix/projection_eeg_65_surface_16k.npy 
include tvb_data/projectionMatrix/projection_meg_276_surface_16k.npy
include tvb_data/projectionMatrix/__init__.py 

include tvb_data/regionMapping/__init__.py 
include tvb_data/regionMapping/regionMapping_16k_76.txt
include tvb_data/regionMapping/regionMapping_16k_192.txt

include tvb_data/sensors/eeg_unitvector_62.txt.bz2 
include tvb_data/sensors/eeg_brainstorm_65.txt 
include tvb_data/sensors/meg_151.txt.bz2 
include tvb_data/sensors/meg_brainstorm_276.txt 
include tvb_data/sensors/seeg_39.txt.bz2
include tvb_data/sensors/seeg_588.txt 
include tvb_data/sensors/__init__.py 

include tvb_data/surfaceData/__init__.py
include tvb_data/surfaceData/cortex_16384.zip 
include tvb_data/surfaceData/outer_skin_4096.zip 
include tvb_data/surfaceData/inner_skull_4096.zip 
include tvb_data/surfaceData/outer_skull_4096.zip 
include tvb_data/surfaceData/scalp_1082.zip 
include tvb_data/surfaceData/face_8614.zip 

include tvb_data/local_connectivity/__init__.py 
include tvb_data/local_connectivity/local_connectivity_16384.mat

include tvb_data/obj/__init__.py 
include tvb_data/obj/face_surface.obj 
include tvb_data/obj/eeg_cap.obj